.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.4rem;
}

.reverse {
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .button {
    font-size: 1.6rem;
  }
}
